body {
    font-size: 18px;
    line-height: 1.5;
}

header, nav, main, footer {
    margin: 1.25rem auto;
    max-width: 760px;
}

header {
    background-color: navy;
    color: white;
    text-align: center;
    border-radius: .5rem;
}

img {
    float: right;
    margin: 0px;
    width: 10rem;
    border-radius: 7px;
}

h1 {
    padding: 10px;
}

h2 {
    display: block;
    border-bottom: 1.3px solid grey;
    padding-bottom: 5px;
    font-size: 1.5em;
    font-weight: bold;
}

footer {
    background-color: navy;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    text-align: center;
    border-radius: .5rem;
}

footer a {
    color: white;
}

footer div {
    color: rgb(112, 209, 112);
}