@media only screen and (min-width: 64em) {
    nav button {
        display:none;
    }

    main div#callToAction h2 {
        margin-top: 3rem;
        margin-left: 2.5rem;
        font-size: 3.5rem;
    }

    div.rentalBox {
        margin-top: 11rem;
        margin-left: 2.5rem;
        font-size: 2.5rem;
    }

    div.threeGallery {
        grid-template-columns: repeat(3);
        width: 100%;
    }

    .tours img {
        margin-right: 3rem;
    }

    #maps {        
        margin-left: 2rem;
    }

    .rentals {
        grid-template-columns: 1fr 1fr 1fr;
        }
        
        .rentals section:nth-child(3) {
            grid-column: span 1;
        }
}