@media only screen and (min-width: 735px) {
    nav button {
        display:none;
    }

    nav ul.hide {
        display: inline-flex;
    }

    nav ul li a {
        display: inline-flex;
        font-size: 1em;
        border: none;
        border-right: 1px solid rgba(0,0,0,0.3);
        padding: .6rem 2rem;
    }
    
    nav ul li {
        display: inline-flex;
    }

    main div#callToAction h2 {
        margin-top: 3rem;
        margin-left: 2rem;
        font-size: 2.5rem;
    }

    div.rentalBox {
        margin-top: 9rem;
        font-size: 2rem;
    }

    div.threeGallery {
        grid-gap: 10px;
        padding: 1%;
    }

    section .threeGallery {
        grid-template-columns: repeat(3, 32.5%);
        width: 100%;
    }

    div.threeGallery a {
       margin: 0;
    }

    .tours p {
        padding: 3rem;
    }

    #maps {
        grid-template-columns: 1fr 1fr;
        margin-left: 1rem;
    }

    iframe {
        width: 95%;
    }

    footer div.footerLinks ul li{
        display: inline-flex;
        border: none;
        border-right: 1px solid rgba(0,0,0,0.3);
        padding: .6rem 2rem;
    }

    footer div.footerLinks {
        text-align: center;
    }

    .rentals {
        grid-template-columns: 1fr 1fr;
      }

      .rentals section:nth-child(3) {
        grid-column: span 2;
      }

      .rentals img {
        width: 95%;
      }
}