* { box-sizing: border-box;}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #FDEDDE;
}

/* HEADER */
header {
    padding: 10px;
    display: inline-flex;
    flex-flow: row nowrap;
    width: 100%;
}

body a {
    text-decoration: none;
}

/* NAVIGATION */
nav {
    background-color: #0C71C1;
    font-family: 'Libre Baskerville', serif;
    font-size: 15px;
}

nav button {
    margin: .7rem;
    background-color: transparent;
    border: none;
    font-size: 1.9rem;
    color: #fff;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

}

nav ul li a {
    display: flex;
    flex-flow: row wrap;
    padding: .8rem 5%;
    text-decoration: none;
    color: #fff;
    border-top: 1px solid rgba(0,0,0,0.3);
}

nav ul li a:hover {
    background-color: #30AEC7; color: white;
}

nav ul li.active a {
    background-color: #30AEC7; color: white;
}

nav ul.hide {
    display: none;
}

/* MAIN */
main figure {
    margin: 0;
}

div#callToAction {
    margin: -3px;
}

main div#callToAction h2 {
    font-family: 'Libre Baskerville', serif;
    color: #F35F00;
    position: absolute;
    margin-top: 2rem;
    margin-left: 2rem;
    font-size: 1.5rem;
}

div.rentalBox {
    position: absolute;
    background-color: #F8C514;
    padding: .3rem .5rem;
    margin-top: 5.6rem;
    margin-left: 2rem;
    color: #fff;
    font-family: 'Libre Baskerville', serif;
    font-size: 1rem;
}

.rentalBox a {
    color: #fff;
    text-decoration: none;
    text-align: center;
}

.summary {
    font-family: 'Libre Baskerville', serif;
    text-align: center;
}

div.about {
    font-family: 'Libre Baskerville', serif;
    margin: 20px;
    font-size: 18px;
    line-height: 1.5rem;
}

/* THREE DAY FORECAST */
.threeDayContainer {
    text-align: center;
    background-color: #F8C514;
    padding-top: 5px;
}

.threeDayContainer h1 {
    color: white;
}

.threeDayForecast {
    display: flex;
    justify-content: center;
    padding: 1rem .5rem;
}

.threeDayForecast div{
    padding: 0 6.5%;
}

.threeDayForecast div p {
    font-family: 'Libre Baskerville', serif;
    color: white;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 0;
}

.threeDayForecast div h2 {
    font-family: 'Libre Baskerville', serif;
    color: white;
    text-align: center;
    font-size: 20px;
    margin-top: 0;
}

.threeDayForecast div img {
    margin-left: 0;
    margin-right: 0;
    width: 7rem;

}

/* THREE IMAGE GALLERY */
div.threeGallery {
    display: grid;
    grid-template-columns: repeat(1, 100%);
}

div.threeGallery img {
    width: 100%;
}

div.threeGallery h5, div.threeGallery h2, .rentals h5 {
    background-color: black;
    color: #fff;
    font-family: 'Libre Baskerville', serif;
    font-size: 1.3rem;
    margin: 0;
    padding: 25px;
    text-align: center;
}

div.threeGallery p {
    font-family: 'Libre Baskerville', serif;
    font-size: 1.2rem;
    padding: 20px;
    line-height: 1.7rem;
    background-color: white;
    margin: 0;
    color: black;
}

div.threeGallery p.price {
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 10px;
}

div.threeGallery figure {
    box-shadow: 0px 0px 15px .2px #E5E5E5;
    margin-bottom: 5px;
}

/* TOURS */
.tours img {
    width: 100%;
}

.tours p {
    font-family: 'Libre Baskerville', serif;
    font-size: 18px;
    line-height: 1.5rem;
    padding: 1rem;
}

.tours h2 {
    font-family: 'Libre Baskerville', serif;
    text-align: center;
    font-size: 1.5rem;
}

/* RESERVATIONS  */
section.event {
    background-color: #F35F00;
    padding: 10px;
}

.event h2 {
    font-family: 'Libre Baskerville', serif;
    color: white;
    font-style: italic;
    font-size: 2.5rem;
    text-align: center;
    margin: 20px;
}

.event p {
    font-family: 'Libre Baskerville', serif;
    color: white;
    margin: 0 9% 2% 9%;
    font-size: 1.3rem;
    line-height: 2rem;
}

.event span {
    font-weight: bold;
}

h3 {
    font-family: 'Libre Baskerville', serif;
    text-align: center;
    color:#F35F00;
    margin: 20px;
    padding: 20px 0 0 0;
    font-size: 2.5rem;
}

.thanks {
    padding: 5%;
    text-align: center;
}

.thanks p {
    font-family: 'Libre Baskerville', serif;
    font-size: 1.3rem;
    line-height: 2rem;
}

form#userReport {
    padding: 0 9% 30px;
}

fieldset {
    border-radius: .3em;
    margin: 1.1em 0;
    border: #30AEC7 solid 5px;
}

legend {
    font-family: 'Libre Baskerville', serif;
    font-size: 1.2em;
    color: #fff;
    padding: .5em;
    border: #F8C514 solid 1px;
    background-color: #F8C514;
    border-radius: .3em;
}

label {
    display: block;
    margin: .5em;
    font-family: 'Libre Baskerville', serif;
}

label span {
    font-family: 'Libre Baskerville', serif;
    display: block;
    font-size: 1.2em;
    color: #000;
    padding-top: .9em;
    padding-bottom: .2em;
}

input.submitBtn {
    display: block;
    color: #fff;
    border: solid 1px #F35F00;
    border-radius: 6px;
    margin: .5em 0;
    font-size: 1em;
    padding: .3em;
    padding-right: 1.5em;
    padding-left: 1.5em;
    background: #F35F00;
    font-family: 'Libre Baskerville', serif;
    font-size: 1.5em;
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    background-color: white;
    border-radius: 50%;
}

.container input:checked ~ .checkmark {
    background-color: #F35F00;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

label span.answer {
    padding-top: .2em;
    font-size: .8em;
}

.container input:checked ~ .checkmark:after {
    display: block;
}

.container .checkmark:after {
    top: 9px;
    left: 10px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: white;
}

label input {
    background-color: white;
    color: #000;
    padding: .3em .3em .3em 2em;
    border: solid 1px #000;
    border-radius: 5px;
    font-size: 1.2em;
    width: 90%;
    max-width: 500px;
    background-image: url(../images/ico_validation.png);
    background-repeat: no-repeat;
    background-position: 4px 61px;
}

input:required {
    background-position: 4px -61px; /*shows the red star*/
}

input:focus:invalid {
    background-position: 4px -111px; /*shows the yelllow cirle*/
}

input:required:valid {
    background-color: #fff;
    background-position: 4px -161px; /*shows the green check*/
}

/*  RENTALS  */
.rentals {
    display: grid;
    grid-template-columns: 1fr;
}

.rentals img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    width: 80%;
}
.rentals h2 {
    display: block;
    border-bottom: 1.3px solid grey;
    padding-bottom: 5px;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

p, div, a {
    font-family: 'Libre Baskerville', serif;
}

.rentals section {
    margin: 0.5rem;
}

article {
    background-color: white;
    padding: 1em;
    border-radius: 0 0 7px 7px;
}

/* CONTACT PAGE */
.hours {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2rem;
}

thead {
    text-align: center;
}

.title {
    font-family: 'Libre Baskerville', serif;
    color: white;
    font-style: italic;
    font-size: 2rem;
    padding: 10px;
}

td {
    font-family: 'Libre Baskerville', serif;
    color: white;
    font-size: 1.3rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 10px;
}

h2 {
    font-family: 'Libre Baskerville', serif;
    text-align: center;
}

#maps {
    display: grid;
    grid-template-columns: 1fr;
}

/* RESOURCES */
#reference a {
    display: inline-block;
    color: white;
    font-size: .7rem;
}

 /* FOOTER */
footer {
    font-family: 'Libre Baskerville', serif;
    background-color: #0c71c1;
    text-align: center;
    padding: 3%;
    color: #fff;
    text-decoration: none;

}

.clearfix:after {
    content: " "; /* Older browser do not support empty content */
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}