@media only screen and (min-width: 1070px) {
    header button {
        display: none;
    }
    main {
        margin: auto;
        max-width: 1000px;
    }
    h1 {
        font-size: 35px;
    }

    .home-content-wrap {
        display: flex;
    }

    .town-data {
        display: block;
        width: 40%;
    }

    .town-data img {
        width: 100%;
    };

    .article-img {
        height: 250px;
      }

      .subContactLayer {
        max-width: 960px;
        margin: auto;
    }

    .largeCityMap {
        padding-right: 1rem;
        height: 200px;
        width: 500px;
    }

    .socialMedia {
        padding-top: 1rem;
    }

    .socialMedia img {
        padding-right: 1rem;
        height: 34px;
    }
}