@media only screen and (min-width: 1080px) {
    header button {
        display: none;
    }
    main {
        margin: auto;
        max-width: 1000px;
    }
    h1 {
        font-size: 35px;
    }

    .home-content-wrap {
        display: grid;
        grid-gap: 12px;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
    }

    .article-img {
        height: 250px;
      }
}