@media only screen and (min-width: 720px) {
    header img {
        margin: 0 10px;
    }

    h1 {
        font-size: 30px;
    }

    header button {
        display: none;
    }

    nav ul li {
        margin: 0;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        margin-left: 3%;
    }

    .hide {
        display: flex;
    }

    nav ul li a {
        display: list-item;
        padding: 1rem 1.3rem;
        font-size: 20px;
    }

    nav ul li a:hover {
        background-color: #89b0ae;
        color: #fff;
    }

      .article-img {
        height: 300px;
      }
      .contactInfoLarge {
        display: block;
        background-color: #dadada;
        margin-top: 1.5rem;
        padding: 3rem 1rem;
    }

    .subContactLayer {
        display: flex;
    }

    .largeCityMap {
        display: block;
        text-align: left;
        max-width: 100%;
        padding-right: 1rem;
        height: 200px;
        width: 400px;
    }

    .infoLarge {
        display: flex;
        font-size: 14px;
    }

    .contactInfoIcon {
        padding: .5rem;
    }

    .SubInfo {
        display: flex;
        flex-direction: column;
        margin-left: 7%;
        line-height: .7rem;
    }

    .socialMedia {
        padding-top: .4rem; 
    }

    .socialMedia img {
        padding: .5rem;
    }

    .contactInfo {
        display: none;
    }

    .address {
        line-height: 1rem;
    }

    .SubInfo h3 {
        margin-bottom: 0;
    }

    section {
        display: flex;
        flex-wrap: wrap;
    }
    
    .town-data {
    display: flex;
    flex-direction: row;
    }

    .soda.town-data {
        flex-direction: row-reverse;
    }

    .town-data img {
    border:1px solid #000080;
    width: 40%;
    height: auto;
}


}