h1 {
    font-family: 'Cormorant Garamond', serif;
    text-align: center;
    font-size: 25px;
}

p, h6, h5, h4, h3, h2 {
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #ece9e9;
    line-height: 10px;
    color: black;
    padding: 12px;
}


header div {
    display: flex;
}

header div div {
    display: block;
    margin-left: 10px;
}

header button {
    border: none;
    background-color: transparent;
    color: black;
    font-size: 1.6rem;
}


header img {
    height: 70px;
    margin: 0 5px;
    border: 1px black solid;
    border-radius: 100%;
}

header h1 {
    font-size: 35px;
}

#message {
    display: none;
    text-align: center;
    background-color: #ffd6ba;
    color: black;
    font-size: 16px;
    font-weight: bold;
    padding: .4rem .3rem;
}

nav {
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    background-color: #555b6e;
}

nav ul {
    display: flex;
    justify-content: center;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 15px;

}

nav ul li a {
    text-decoration: none;
    font-size: 22px;
    color: white;
}

nav ul li a.selected {
    font-weight: bolder;
    text-decoration: underline;
}

nav a:hover {
    background-color: #89b0ae;
    color: #fff;
}

.hide {
    display: none;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

footer {
    background-color: #555b6e;
    color: #fff;
    display: block;
    text-align: center;
    padding: 25px;
}

main {
    padding: 0 2%;
    min-height: 20rem;
}

form fieldset {
    margin: 2rem 0;
    border: 1px solid #445ba9;
    border-radius: 10px;
    padding: .5rem 2%;
}

form legend {
    color: #445ba9;
    margin: 0 1rem;
    padding: 0 .5rem;
    font-size: 20px;
}

form label.top, form div {
    display: block;
    padding-top: 1rem;    
    font-size: 18px;
}

form label.top input, form label.top select, textarea {
    display: block;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 93%;
    background-color: rgba(0,0,0,0.1);
}

form label.sbs {
    display: block;
    padding: .75rem 0;
    color: #555;
    font-size: 18px;
}

form input.submitBtn {
    border: none;
    background-color: #9c2c13;
    color: white;
    border-radius: .5rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    font-size: 20px;
}

form label.top input:required {
    border-left: red solid 6px;
}

form label.top input:required:valid {
    border-left: green solid 6px;
}
